<div class="container">
<h1>Edit a Task</h1>
<%= render 'form' %>
<%= link_to tasks_path, class:'text-decoration-none text-blue', class: 'btn btn-dark' do %>
  <i class="fa-solid fa-arrow-left"></i> Back
  <% end %>
</div>
